<div class="screen screen--1 headerBanner">
    <div class="container">
        <div class="logo">
            <img src="img/logo-villageClub.png" alt="" />
        </div>
        <div class="frameTitle">
            <div class="title__special">Nouveauté</div>
            <div class="borderLeft"></div>
            <div class="borderRight"></div>
            <div class="frameText">
                <div class="title__classic plus">cet hiver, évadez-vous aux</div>
                <div class="title__primary plus">2 Alpes</div>
                <div class="title__classic normal">offre exclusive-vente-privee</div>
                <div class="title__number">-15%<sup>*</sup></div>
                <div class="text__small-caps">sur votre séjour au ski</div>
                <div class="borderLeft"></div>
                <div class="borderRight"></div>
            </div>
            <div class="chevron-down-round"><span class="icon-right-arrows-couple"></span></div>
        </div>
        
    </div>
</div>

<div class="screen screen--2 deuxAlpes">
    <div class="container">
        <div class="group-title">
            <h2 class="title__primary">les 2 alpes</h2>
            <h3 class="title__secondary">Le must de la glisse</h3>
            <p><b>Situé à moins d'1 heure 30 de Grenoble,</b> les 2 Alpes est l'une des plus grandes stations internationales de ski.</p>
        </div>
    </div>
    <div class="slider__deuxAlpes">
        <div class="slider__item block-image-style2">
            <img src="img/bg2Alpes/1.jpg" alt="" />
            <div class="frame-text container">
                <strong>Station familiale et festive, activités Indoor, Label famille plus</strong>
            </div>
        </div>
        <div class="slider__item block-image-style2">
            <img src="img/bg2Alpes/2.jpg" alt="" />
            <div class="frame-text container">
                <strong>Station familiale et festive, activités Indoor, Label famille plus</strong>
            </div>
        </div>
        <div class="slider__item block-image-style2">
            <img src="img/bg2Alpes/3.jpg" alt="" />
            <div class="frame-text container">
                <strong>Station familiale et festive, activités Indoor, Label famille plus</strong>
            </div>
        </div>
    </div>
</div>

<div class="screen screen--3 notreVillage">
    <div class="container">
        <div class="group-title">
            <h2 class="title__primary">Notre village</h2>
            <h3 class="title__secondary">Votre séjour tout compris</h3>
            <p><b>A seulement 100 mètres des pistes,</b> profitez de vacances "tout inclus" dans le village vacances.</p>
        </div>

        <div class="group-bloc-image">
            <div class="block-image-style2">
                <img src="img/village/1.jpg" alt="" />
                <div class="frame-text">
                    <strong>Nouvel établissement de 250 chambres tout confort</strong>
                </div>
            </div>
            <div class="block-image-style2">
                <img src="img/village/2.jpg" alt="" />
                <div class="frame-text">
                    <strong>Pension Complète, repas à thème, pique-nique sur les pistes</strong>
                </div>
            </div>
            <div class="block-image-style2">
                <img src="img/village/3.jpg" alt="" />
                <div class="frame-text">
                    <strong>Forfait et matériel de glisse tout compris</strong>
                </div>
            </div>
            <div class="block-image-style2">
                <img src="img/village/4.jpg" alt="" />
                <div class="frame-text">
                    <strong>Clubs enfants dès 3 mois</strong>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="screen screen--4 votreOffre">
    <div class="container">
        <div class="group-title">
            <h2 class="title__primary">Votre offre</h2>
            <h3 class="title__secondary">tout compris</h3>
        </div>
        <div class="group-icons">
            <div class="icons-and-text">
                <img src="img/pictos/1.png" alt="">
                <span><b>Le ski sans limite</b> forfait 6 jours et prêt de matériel</span>
            </div>
             <div class="icons-and-text">
                <img src="img/pictos/2.png" alt="">
                <span><b>Chambre confortable et accueillante</b></span>
            </div>
            <div class="icons-and-text">
                <img src="img/pictos/3.png" alt="">
                <span><b>Activités</b> Raquettes, piscine, patinoire, fitness...</span>
            </div>
             <div class="icons-and-text">
                <img src="img/pictos/4.png" alt="">
                <span><b>Pension complète</b> buffets généreux et savoureux</span>
            </div>
            <div class="icons-and-text">
                <img src="img/pictos/5.png" alt="">
                <span><b>Clubs d'enfants</b> Dès 3 mois </span>
            </div>
             <div class="icons-and-text">
                <img src="img/pictos/6.png" alt="">
                <span><b>Animations</b>Soirée </span>
            </div>
        </div>
    </div>
</div>

<div class="screen screen--5 nosDestinations">
    <div class="container">
        <div class="group-title">
            <h2 class="title__primary">Nos destinations</h2>
            <h3 class="title__secondary">à la montagne</h3>
        </div>
        <div class="group-list">
            <div class="list-item">
                <h4 class="title__special">haute-savoie</h4>
                <ul class="list-design">
                    <li>flaine</li>
                    <li>Morzine - Portes du soleil</li>
                </ul>
            </div>
            <div class="list-item">
                <h4 class="title__special">haute-savoie</h4>
                <ul class="list-design">
                    <li>flaine</li>
                    <li>Morzine - Portes du soleil</li>
                </ul>
            </div>
            <div class="list-item">
                <h4 class="title__special">haute-savoie</h4>
                <ul class="list-design">
                    <li>flaine</li>
                    <li>Morzine - Portes du soleil</li>
                </ul>
            </div>
            <div class="list-item">
                <h4 class="title__special">haute-savoie</h4>
                <ul class="list-design">
                    <li>flaine</li>
                    <li>Morzine - Portes du soleil</li>
                </ul>
            </div>
            <div class="list-item">
                <h4 class="title__special">haute-savoie</h4>
                <ul class="list-design">
                    <li>flaine</li>
                    <li>Morzine - Portes du soleil</li>
                </ul>
            </div>
        </div>
        <div class="group-img-list">
            <div class="slider__destinations">
                <div class="block-image-style1">
                    <h3 class="title__special">test</h4>
                    <img src="img/destinations/arc.jpg" alt="" />
                    <h4 class="title__classic">Flair</h4>
                </div>
                <div class="block-image-style1">
                    <h3 class="title__special">test</h4>
                    <img src="img/destinations/arc.jpg" alt="" />
                    <h4 class="title__classic">Flair</h4>
                </div>
                <div class="block-image-style1">
                    <h3 class="title__special">test</h4>
                    <img src="img/destinations/arc.jpg" alt="" />
                    <h4 class="title__classic">Flair</h4>
                </div>
                <div class="block-image-style1">
                    <h3 class="title__special">test</h4>
                    <img src="img/destinations/arc.jpg" alt="" />
                    <h4 class="title__classic">Flair</h4>
                </div>
                <div class="block-image-style1">
                    <h3 class="title__special">test</h4>
                    <img src="img/destinations/arc.jpg" alt="" />
                    <h4 class="title__classic">Flair</h4>
                </div>
                <div class="block-image-style1">
                    <h3 class="title__special">test</h4>
                    <img src="img/destinations/arc.jpg" alt="" />
                    <h4 class="title__classic">Flair</h4>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "../block/marketing.html.twig" %}

<div class="mentions">
    <div class="container">
        <p class="text__small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam malesuada dictum massa vitae imperdiet. Curabitur vulputate nisl ac rutrum gravida. Maecenas augue risus, ultricies ac ante id, molestie sagittis lacus. Duis ac tempus tortor. Suspendisse nisl mauris, iaculis et enim ut, aliquet rhoncus neque. Suspendisse faucibus magna urna, sapienit amet pulvinar leo mollis ac. Nunc tempus lectus a libero egestas, eget auctor sapien aliquet. Nullam hendrerit in tortor ac sagittis. Pellentesque in aliquet nisl. Ut posuere commodo ipsum, sed pellentesque felis aliquet quis. Curabitur nec nibh ut nulla pellentesque placerat vitae eget augue. Morbi vehicula non nunc et dapibus. Donec euismod mauris ut justo cursus, quis pretium ipsum maximus. Donec sed libero a dui semper porttitor.
        </p>
    </div>
</div>