<div class="footer">
    <div class="footer__logo-contener">
        <div class="footer__partnership">
            <span class="footer__item">
                <i class="icon icon-logo-vp"></i>
            </span>
            <span class="footer__presents">présente</span>
            <span class="footer__item">
                <i class="icon icon-brand icon-logo-brand-b"></i>
            </span>
            <p class="mention">&copy;  {{ "now"|date("Y") }} {{ trad.project }} | {{ trad.footer_rights }}</p>
        </div>


    </div>
</div>

<a href="#" class="backtotop scrollTo" data-scroll=".container">&nbsp;</a>
