<div class="loader">
    <h2 class="loader__title">{{ trad.loader.title }}</h2>
    <div class="loader__logo">
        <img src="http://placehold.it/100x100" alt="image à remplacer">
    </div>
    <p class="loader__parag">{{ trad.loader.parag }}</p>
    <div class="loader__spin">
        <svg class="loader__circular" viewBox="25 25 50 50">
            <circle class="loader__path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>