<div class="footer">
    <div class="footer__wrapper">

        <div class="footer__logo carterose">
            <span class="icon icon-carte-rose-footer-1"></span>
            <span class="icon icon-carte-rose-footer-2"></span>
            <span class="icon icon-carte-rose-footer-3"></span>
        </div>

        <span class="footer__logo">
            <span class="icon icon-logo"></span>
        </span>

    </div>
    <p class="footer__mentions">&copy;   {{ trad.project }} {{ "now"|date("Y") }}. {{ trad.footer_rights }}</p>
</div>
