$c-theme: #161616;
$c-theme2: gold;
$c-dark: #28170d;
$c-complement: #fff;
$c-texte: #444648;
$c-classic: #2f2f2f;
$c-gold: #bba36b;
$c-vp: #ec008c;
$c-blue: #2b5e98;
$c-bluelight: #4e73ae;
$c-yellow: #ffc000; 
$c-facebook: #3b5998;
$c-twitter: #75bcf2;